extends ../layout

block content
  body.container
    div.header.row
      div.reward-wrap
      div.player-details.text-right
    div.crct-word-and-definition.row
      div.crct-word-wrap.col-md-6
        span #{data.KeyWord}
        audio(src="http://mediaapps.globalenglish.com/audio/tts.php?voice=0&speed=1&text="+"#{data.KeyWord}",controls,type="audio/ogg")
      div.definition-wrap.col-md-6
        div
          |DEFINITION:
        div
          |#{data.Definition}
    div.details-wrap.row
      div.text-details-wrap.col-md-6
        div.usage.row
          div.col-md-4
            |Usage: 
          div.col-md-8
            |#{data.Usage}
        div.synonyms.row
          div.col-md-4
            |Synonyms:
          div.col-md-8
            |#{data.Synonyms}
        div.antonyms.row
          div.col-md-4
            |Antonyms
          div.col-md-8
            |#{data.Antonyms}
        div.anagrams.row
          div.col-md-4
            |Anagrams
          div.col-md-8
            |#{data.Anagrams}
        div.phrases.row
          div.col-md-4
            |Phrases
          div.col-md-8
            |#{data.Phrases}
      div.image-details-wrap.col-md-6
        div.image-slider
  //body
    link(rel='stylesheet', href='/stylesheets/descriptionstyle.css')
    div.backButton
    a(href="/") [back]
    div.outerwrapper
    div.wrapper  
      div.word.keyword
        span #{data.KeyWord}
        audio(src="http://mediaapps.globalenglish.com/audio/tts.php?voice=0&speed=1&text="+"#{data.KeyWord}",controls,type="audio/ogg")
      div.word 
        div.defn Definition : 
        span #{data.Definition}
      div.word
        div.usage Usage : 
        span #{data.Usage}
      div.word
        div.phrase Phrase : 
        span #{data.Phrase}
      div.word
        div.Syn Synonyms : 
        span #{data.Synonyms}
      div.word
        div.Ant Antonyms : 
        span #{data.Antonyms}
      div.word
        div.Anag Anagrams : 
        span #{data.Anagrams}
      div.word
        div.Parts Parts of speech : 
        span #{data.Speech}
      div.word
        div.Images Images : 
        span 
        //- -var imgSrc=data.Images.split(',');
        -each url in data.Images 
          img(src=url)