extends ../layout
block styles
  link(rel='stylesheet', href='/stylesheets/descriptionstyle.css')
  link(rel='stylesheet',href='/js/plugins/flexslider.css')
block content
  body
    div.default-bg
    div.container.hidden
      div.header.row
        div.reward-wrap
        div.player-details.text-right
      div.crct-word-and-definition.row
        div.col-md-6 CORRECT WORD:
          div.row
            -var word = data.KeyWord
            -for(var i=0;i<word.length;i++){
             span.dotted-border= word[i]
            -}
            //span #{data.KeyWord}
            span#play-word-icon.glyphicon.glyphicon-volume-up
            //audio(src="http://mediaapps.globalenglish.com/audio/tts.php?voice=0&speed=1&text="+"#{data.KeyWord}",controls,type="audio/ogg")
        div.definition-wrap.col-md-6
          div
            |DEFINITION:
          div
            |#{data.Definition}
      div.details-wrap.row
        div.text-details-wrap.col-md-6
          div.usage.row
            div.col-md-4
              |Usage: 
            div.col-md-8
              |#{data.Usage}
          div.synonyms.row
            div.col-md-4
              |Synonyms:
            div.col-md-8
              |#{data.Synonyms}
          div.antonyms.row
            div.col-md-4
              |Antonyms:
            div.col-md-8
              |#{data.Antonyms}
          div.anagrams.row
            div.col-md-4
              |Anagrams:
            div.col-md-8
              |#{data.Anagrams}
          div.phrases.row
            div.col-md-4
              |Phrases:
            div.col-md-8
              |#{data.Phrases}
        div.image-details-wrap.col-md-6
          span.font-18 Images:
          div.imgslider
            ul.imgslider-direction-nav
              li
                a.imgslider-prev
                  span.glyphicon.glyphicon-chevron-left
              li
                a.imgslider-next
                  span.glyphicon.glyphicon-chevron-right
            ul.slides
              -each url in data.Images 
                li
                  img(src=url)
block endScripts
  script
      data = !{JSON.stringify(data)};
  script(src = "js/description.js")  
  script(src='js/plugins/jquery.flexslider-min.js') 