extends ../layout
block styles
	link(rel='stylesheet',href="stylesheets/twoplayer.css")
block content
	body.container
		div.header.row
			div.player-wrap.col-md-6
				span.level-number L#{user.level.number}
				span.player-pic
				span.player-points #{user.points}
			a(href='/logout').col-md-6.text-right
				span
					img(src='/images/log-out.png')
		//h1=title
		input(type='hidden',id='usernamefield',value='#{user._id}')
		div.row
			div.col-md-9.left-side-wrap
				div.input-wrap
					label Choose a word to challenge:
					input(type='text',id='searchWord')
					//div(id='displayText')
				div.word-cloud.row
					div.wordcloud-info-text.text-left.col-md-6
						span
							-if(random.length==0)
								|Something went wrong in getting random words
							-else 
								| Other Suggestions : #{JSON.stringify(random.length)}
					div.refresh-button.text-right.col-md-6
						span 
							-if(random.length!=0)
								span.glyphicon.glyphicon-refresh.refresh-cloud(onclick="javascript:refresh();")
					div.words.tags
						ul
							-for(var i=0; i<random.length;i++){
							-var tagNo=Math.floor((Math.random()*5)+1);
							li(class="tag#{tagNo}")
								a(href="javascript:WordSelect('#{random[i].word}')") #{random[i].word}
							-}
			div.col-md-3.online-players-wrap
				div.online-text Online players
				ul.playerlist

block endScripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(src="/js/twoPlayer.js")